{% extends 'base.html' %}  
{% block content %}

<style>
    .conference-detail-card {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* .conference-title {
        font-weight: bold;
        text-transform: capitalize;
        text-align: justify;
    } */

    .conference-description {
        text-align: justify;
    }
    .conference-description img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
        float: none !important;
    }
    .conference-description table {
        width: 100%;
        border-collapse: collapse;
        margin: 15px 0;
        display: block;
        overflow-x: auto;
        max-width: 100%;
    }

    .conference-description th,
    .conference-description td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        word-break: break-word;
        min-width: 100px;
    }
    .back-btn {
        border: 1px solid #964734;
        color: #964734;
        padding: 8px 20px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .back-btn:hover {
        background-color: #964734;
        color: white;
    }
</style>

<div class="container my-4">
    <div class="card conference-detail-card">
        <img src="{{ conference.image.url }}" class="card-img-top" alt="{{ conference.title }}">
        <div class="card-body">
            {% comment %} <h2 class="conference-title">{{ conference.title }}</h2> {% endcomment %}
            <p class="text-muted">Posted on: {{ conference.posted_date }}</p>
            <div class="conference-description" data-aos="zoom-in" data-aos-duration="500">
                {{ conference.description|safe }}
            </div>
        </div>
    </div>
    <!-- Back to Conferences Button -->
    <div class="text-center mt-4">
        <a href="{% url 'conference_list' %}" class="btn back-btn">Back to Conferences</a>
    </div>
</div>

{% endblock %}
