{% extends 'base.html' %}
{% block content %}

<style>
    .custom-btn {
        background-color: white;
        border: 2px solid #964734;
    }
    .hod_detail img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
        float: none !important;
    }
    .hod_detail table {
        width: 100%;
        border-collapse: collapse;
        margin: 15px 0;
        display: block;
        overflow-x: auto;
        max-width: 100%;
    }

    .hod_detail th,
    .hod_detail td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        word-break: break-word;
        min-width: 100px;
    }
    .custom-btn:hover {
        background-color: #7d392a;
        color: white;
    }
</style>

<section class="container my-5" data-aos="fade-up" data-aos-duration="1000">
    <div class="card shadow-lg p-4 hod_detail">
        {{ hod.hod_detail|safe }}
    </div>
    <!-- Back Button -->
    <div class="text-center mt-4">
        <a href="{% url 'hod_list' %}" class="btn custom-btn">Back to HODs</a>
    </div>
</section>

{% endblock %}
